language: python
matrix:
  include:
  - python: 3.7
    dist: bionic
    sudo: true
  - python: 3.8
    dist: bionic
    sudo: true
before_install:
- pip install poetry=='1.0.10'
install:
- poetry install
script:
- poetry run black --check patricia tests
- poetry run mypy patricia tests
- poetry run flake8 --select F patricia tests
- poetry run pytest